.portletTwitterPortlet .userPicture {
    float:left;
    margin-right: 4px;
}

.portletTwitterPortlet .userName,
.portletTwitterPortlet .userLocation {
    font-size: 120%;
    font-weight: bold;
}


.portletTwitterPortlet .userDescription {
    font-style: italic;
}

.portletTwitterPortlet .tweetPicture img {
    float:left;
    margin-right: 4px;
	max-width: 48px;
	min-height: 48px;
}
